<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper    
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dao.LoginLogMapper">
    
	<insert id="saveLoginLog" parameterType="cn.entity.LoginLog">
		insert into login_log(userName,logindate,loginIp,creteTime)
		values(#{userName},CURDATE(),#{loginIp},now())
	</insert>
</mapper>